.card-info {
  padding: 37px 23px;
  width: calc(100% / 3 - 2%);
  background: linear-gradient(
    268.12deg,
    rgba(254, 254, 255, 0.032) -11.04%,
    rgba(255, 255, 255, 0.018) 104.89%
  );
  box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;

  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-info:first-child,
.card-info:nth-child(2),
.card-info:nth-child(3),
.card-info:nth-child(4),
.card-info:nth-child(6) {
  position: relative;
  z-index: 0;
}

.card-info:first-child::after {
  position: absolute;
  content: "";
  width: 293px;
  height: 361px;
  top: -60px;

  background: rgba(29, 78, 216, 0.79);
  filter: blur(200px);
  opacity: 0.2;
  z-index: -99;
}

.card-info:nth-child(2)::after {
  position: absolute;
  content: "";
  width: 251.35px;
  height: 340px;
  right: -50px;
  top: -40px;

  background: rgba(217, 70, 239, 0.43);
  filter: blur(200px);
  opacity: 0.4;
  z-index: -99;
}

.card-info:nth-child(3)::after {
  position: absolute;
  content: "";
  width: 251.35px;
  height: 340px;
  top: -20%;
  right: -10%;

  background: #5141da;
  filter: blur(200px);
  opacity: 0.3;
  z-index: -99;
}

.card-info:nth-child(4)::after {
  position: absolute;
  content: "";
  width: 251.35px;
  height: 283px;
  left: -50%;
  background: rgba(217, 70, 239, 0.43);
  filter: blur(200px);
  opacity: 0.5;
  z-index: -99;
}

.card-info:nth-child(6)::after {
  position: absolute;
  content: "";
  width: 251.35px;
  height: 283px;
  right: 0;
  background: rgba(29, 78, 216, 0.79);
  filter: blur(200px);
  opacity: 0.4;
  z-index: -99;
}

.card-info__title {
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.29;
  margin-top: 19px;
}

.card-info__text,
.card-info__link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.625;
  text-align: center;
}

.card-info__text {
  margin-top: 17px;
}

.card-info__link {
  width: 120px;

  background-image: url("./svg/pointer.svg");
  background-repeat: no-repeat;
  background-size: 14;
  background-position: right;

  margin-top: 24px;
}

.card-info__link:hover {
  fill: #d946ef;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(89.83deg, #2563eb 40%, #d946ef 58.65%);

  cursor: pointer;
}

@media (max-width: 900px) {
  .card-info {
    width: calc(50% - 3%);
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  .card-info__title {
    font-size: 1.8rem;
  }

  .card-info__text,
  .card-info__link {
    font-size: 1.4rem;
  }
}

@media (max-width: 560px) {
  .card-info {
    width: 100%;
    margin-top: 30px;
  }
}
