* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'DM Sans', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}


.App {
    position: relative;
    width: 100%;
    background-color: #111827;
    
    z-index: 0;
}

.App::after {
    position: absolute;
    content: '';
    top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    opacity: 0.08;
    z-index: -1;
}