* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'DM Sans', sans-serif;
    transition: 0.5s;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}


.App {
    position: relative;
    width: 100%;
    background-color: #111827;
    
    z-index: 0;
    overflow: hidden;
   
}

.App::after {
    position: absolute;
    content: '';
    top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    opacity: 0.08;
    z-index: -1;
}

.none {
    display: none;
}

.button-up {
    position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;

  border-radius: 50%;
  border: 3px solid aliceblue;
  background-color: rgba(255, 255, 255, 0);

  font-size: 1.2rem;
  color: aliceblue;
  text-align: center;
    }

    .button-up:hover {
        cursor: pointer;
        color: #2563EB;
        border-color: #2563EB;
    }


    
    

